.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition-property: transform;
}

.text {
    position: absolute;
    font-size: 20px;
    display: none;
}

.main-div {
    display: flex;
    flex-direction: column;
}

#box-1, #box-2, #box-3, #box-4 {
    width: 80px;
    height: 80px;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.content:hover .text {
    display: block;
}

#box-1{
    background-color: red;
}

#box-2{
    background-color: yellow;
}

#box-3{
    background-color: blue;
}

#box-4{
    background-color: green;
}

.content:hover #box-1, .content:hover #box-2 {
    transform: translate(-80px, 0px) rotate(90deg);
}

.content:hover #box-3, .content:hover #box-4  {
    transform: translate(80px, 0px) rotate(-90deg);
}
