h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.img {
    height: 450px;
    width: 300px;
}

.content {
    display: flex;
    flex-direction: row;
}

p {
    font-size: 13px;
    text-align: justify;
    color: black;
    padding: 2px;
}

.content div {
    margin: 10px;
    padding: 2px;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 45%;
}

.right-side {
    display: flex;
    flex: 45%;
    flex-direction: column;
}

@media only screen and (max-width: 850px) {
    .left-side,
    .right-side {
        flex-direction: column;
    }
}

